<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        blog
    </title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<body>
    <div class="sidenav">
        <h3 class="head">DMA LAB PROJECT</h3>
        <a href="#about">Introduction</a>
        <a href="#services">Demo</a>
        <a href="#clients">Working</a>
        <a href="#contact">Conclusion</a>
    </div>
    <div class="main">
        <div class="title"> Flight Price Prediction</div>
        <div class="content-area">
            <h3>Introduction</h3>
            <p>
                Flight ticket prices are hard to guess, the price you may see today may vary tomorrow.
                But this could be predicted by machine learning algorithms and dataset. This project showcases this idea through
                web application and the correlation between independent and dependent attributes with plotting feature
                importance for better visualization of the dataset.
            </p>
            <h3>Demo</h3>
        </div>
    </div>
</body>
</html>