<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Price Prediction</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/styles.css">


</head>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

<body>
    <div class="bg">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <svg width="32" height="35" viewBox="0 0 37 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.875 6.83337L13.875 14.9686L0.582461 22.4497C0.405488 22.5495 0.258415 22.6935 0.156132 22.8673C0.053849 23.041 -1.25739e-05 23.2383 2.11688e-07 23.4392L1.5609e-07 28.1015C1.47067e-07 28.8582 0.734942 29.4041 1.4735 29.1963L13.875 25.7063L13.875 33.0279L9.7125 36.1029C9.42127 36.3179 9.25 36.656 9.25 37.0141L9.25 39.8606C9.25 40.6016 9.95676 41.1454 10.6866 40.9653L18.5 38.7224L26.3134 40.9653C27.0432 41.1454 27.75 40.6016 27.75 39.8606L27.75 37.0141C27.75 36.6553 27.5787 36.3179 27.2875 36.1029L23.125 33.0279L23.125 25.7063L35.5258 29.1963C36.2643 29.4041 37 28.8582 37 28.1015L37 23.4392C37 23.0306 36.7774 22.6533 36.4175 22.4505L23.125 14.9686L23.125 6.83337C23.125 4.31712 21.0546 2.51073e-07 18.5 2.2061e-07C15.9454 1.90147e-07 13.875 4.31712 13.875 6.83337Z" fill="white"/>
                    </svg>
                    <font>FLIGHT PRICE PREDICTOR</font></a>
            </div>
            <div>
            <a href="./blog"> BLOG </a>
        </div>
        </div>
    </nav>

    <br><br><br>


    <div class="container1">



        <form action="\predict" method="post">


            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Departure Date and Time</h5>
                            <!-- Departure -->
                            <input type="datetime-local" name="Dep_Time" id="Dep_Time" required="required" placeholder=".">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Arrival Date and Time</h5>
                            <input type="datetime-local" name="Arrival_Time" id="Arrival_Time" required="required">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Source</h5>
                            <select name="Source" id="Source" required="required">
                                <option selected disabled hidden>Select Source</option>
                                <option value="Delhi">Delhi</option>
                                <option value="Kolkata">Kolkata</option>
                                <option value="Mumbai">Mumbai</option>
                                <option value="Chennai">Chennai</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Destination</h5>
                            <select name="Destination" id="Destination" required="required">
                                <option selected disabled hidden>Select Destination</option>
                                <option value="Cochin">Cochin</option>
                                <option value="Delhi">Delhi</option>
                                <option value="New Delhi">New Delhi</option>
                                <option value="Hyderabad">Hyderabad</option>
                                <option value="Kolkata">Kolkata</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Stopage</h5>
                            <select name="stops" required="required">
                                <option selected disabled hidden>Select Stopages</option>
                                <option value="0">Non-Stop</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Which Airline you want to travel?</h5>
                            <select name="airline" id="airline" required="required">
                                <option selected disabled hidden>Select Airline</option>
                                <option value="Jet Airways">Jet Airways</option>
                                <option value="IndiGo">IndiGo</option>
                                <option value="Air India">Air India</option>
                                <option value="Multiple carriers">Multiple carriers</option>
                                <option value="SpiceJet">SpiceJet</option>
                                <option value="Vistara">Vistara</option>
                                <option value="Air Asia">Air Asia</option>
                                <option value="GoAir">GoAir</option>
                                <option value="Multiple carriers Premium economy">Multiple carriers Premium economy
                                </option>
                                <option value="Jet Airways Business">Jet Airways Business</option>
                                <option value="Vistara Premium economy">Vistara Premium economy</option>
                                <option value="Trujet">Trujet</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <input type="submit" value="Check Price" class="btn btn-secondary" id="myBtn">
        </form>
        <br>
        <h3>{{ prediction_text }}</h3>
        <br>


    </div>
        <div class="bottom">
            <div class="btm-left">DMA LAB PROJECT</div>
            <div class="btm-right">Efforts by Shreya Garg and Udayveer Singh</div>
        </div>




</div>

</body>


</html>